.pimg{
    border-radius: 99px;
    height: 200px;
    margin-top: 140px;


}

.boxabout{
    width: 100%;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.abouts-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}

.icon{
    color: white;
    transform: scale(2.3);
    margin-top: 35px;
}





@media (max-width: 1232px){
    .abouts-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 42px;
    }




}


@media (max-width: 950px){
   .abouts-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 42px;
    }




}



@media (max-width: 630px){
    .abouts-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 42px;
    }




}

.about-name{
    font-size: 40px;
    color: white;
}

.stars{
    margin-top: -80px;
    margin-bottom: -80px;
}

.stars-p{
    color: white;
}

.link-star{
    color: white;
    
}

.link-free{
    color: WHITE;


}